.VideoCard {
    &__col {
        flex-wrap: wrap;
    }

    &__sec1 {
        flex-flow: row nowrap;
    }

    &__secChild {
        width: 100%;
    }

    &__title {
        font-weight: bold;
        font-size: 2rem;
        color: rgb(255, 110, 110);
    }

    &__des {
        font-weight: bold;
        font-weight: 1.4rem;
        display: block;
    }

    &__like {
        margin-right: 12px;
    }

    &__likeAction {
        margin-left: auto;
        justify-content: flex-end;
    }
}
